.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
  }

  .modal-content label {
    display: block;
    margin: 10px 0 5px;
  }

  .modal-content input,
  .modal-content select {
    width: 92%;
    padding: 8px;
    margin-bottom: 10px;
  }

  .modal-content button {
    margin-right: 10px;
  }

  .add-button {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .add-button:hover {
    background-color: #45a049;
  }
